# Cf requirements
requests~=2.32

# Documentation requirements
sphinx~=8.2
sphinx-rtd-theme~=3.0
sphinx-copybutton~=0.5

# Dev not required
# sphinx-autobuild @ git+https://github.com/sphinx-doc/sphinx-autobuild
