# Cf requirements
requests~=2.31

# Documentation requirements
sphinx~=7.2
sphinx-rtd-theme~=2.0
sphinx-copybutton~=0.5

# Dev not required
# sphinx-autobuild @ git+https://github.com/sphinx-doc/sphinx-autobuild
